{% extends 'Home/template.html' %}
{% load static %}

{% block head %}
<title>
    Mentor
</title>
{% endblock %}

{% block section %}
<div class="row" id="atas">
    <div class="col-md-5 lg-5" class ="mentee_margin">
        <img class="mentee_foto"  src="static/images/people-andreas.png" /><br>
        <img class="mentee_foto"  src="static/images/people-ramdhan.png" /><br>
        <img class="mentee_foto"  src="static/images/people-trimo.png" /><br>
    </div><br>
    <div id="kata" class="col-md-7 lg-7">
        <span class="judul">
            Our Mentee
        </span>
        <h5>
            Andreas Nugroho
        </h5>
        <span>
            Software Ninja (5 years experience)
        </span>
        <p>
            "Great place to learn about programing. Come join us!"
        </p><br><br><br><br><br>
        <h5>
            Rahmadhan Hidayat
        </h5>
        <span>
            Master of Chaos(10 years experience)
        </span>
        <p>
            "We make this program wuth passion, hard work and heart. Let's get rock with us!"
        </p><br><br><br><br><br>
        <h5>
            Trimo Leksono
        </h5>
        <span>
            Magiction(8 years experience)
        </span>
        <p>
            "The best place for who want to be a great IT talent"
        </p><br><br><br><br><br>
    </div>
</div>
{% endblock %}