{% extends 'Home/template.html' %}
{% load static %}

{% block head %}
<title>
    Blog
</title>
{% endblock %}

{% block section %}
<div>
    <img class="foto_blog" src="static/images/kendala-sepulsa.jpg" />
</div>
<span class="span_blog_kiri">September 25, 2018</span><span class="span_blog_kanan">0 Comment</span>
<div>
    <h2 class="h2_blog">
        Punya Kendala? Segera Hubingi
    </h2>
    <h2 class="h2_blog">
        Customer Service Sepulsa!
    </h2>
    <p class="p_blog">
        Bagi Sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa mendengarkan
        keluhan maupun kendala yang kamu hadapi selama melakukan transaksi di Sepulsa. 
        Umumnya pelanggan Sepulsa menghadapi kendala sebagai berikut: Status Order Pending 
        Jika transaksi pembayaran sudah selesai, namun status order kamu masih pending dalam 
        jangka waktu 15 menit, segera hubungi tim Customer Service dengan menyertakan email ...
    </p>
    <a class="a_blog" href="">Baca Selengkapnya</a><br><br><br>
    <div>
        <img class="foto_blog" id="foto_blog" src="static/images/sms.png" />
    </div>
    <span class="span_blog_kiri">August 14, 2018</span><span class="span_blog_kanan">0 Comment</span>
    <h2 class="h2_blog">
        OTP, Si Kode Rahasia nan Berbahaya
    </h2>
    <p class="p_blog">
     Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan keuntungan 
     bagi nasabah. Bayangkan saja, aktivitas jual beli yang pada awalnya membutuhkan 
     waktu dan tempat, kini bisa dilakukan tanpa perlu beranjak dari tempat duduk 
     kamu dan pembayaran lunas dalam hitungan detik dengan transaksi online. 
     Namun tanpa disadari, kemudahan tersebut bukan berarti tanpa celah. Sebelum kita 
     membahas lebih ...       
    </p>
    <a class="a_blog" href="">Baca Selengkapnya</a><br><br><br>

</div>
{% endblock %}